<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_fbd144b6e7bc3f7770e00b7907aa1528 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_fbd144b6e7bc3f7770e00b7907aa1528" ></div>
        
</body>
<script>
    
    
            var map_fbd144b6e7bc3f7770e00b7907aa1528 = L.map(
                "map_fbd144b6e7bc3f7770e00b7907aa1528",
                {
                    center: [41.8933203, 12.4829321],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_3958c2a73731391bf616fd2f4d20a28c = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_fbd144b6e7bc3f7770e00b7907aa1528);
        
    
            var marker_32d20cf7e2ac922e2cc980ae7625bb78 = L.marker(
                [41.8933203, 12.4829321],
                {}
            ).addTo(map_fbd144b6e7bc3f7770e00b7907aa1528);
        
    
            marker_32d20cf7e2ac922e2cc980ae7625bb78.bindTooltip(
                `<div>
                     Vatican City
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_641e8d05eecdbd10a50ab9f3cd385780 = L.marker(
                [41.89861595, 12.476833414483862],
                {}
            ).addTo(map_fbd144b6e7bc3f7770e00b7907aa1528);
        
    
            marker_641e8d05eecdbd10a50ab9f3cd385780.bindTooltip(
                `<div>
                     Pantheon
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_de0265b83f253d780cc06d28b2d28f2e = L.marker(
                [41.8902614, 12.493087103595503],
                {}
            ).addTo(map_fbd144b6e7bc3f7770e00b7907aa1528);
        
    
            marker_de0265b83f253d780cc06d28b2d28f2e.bindTooltip(
                `<div>
                     Colosseum
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2ae0f4f63386db6516272a54632e1eca = L.marker(
                [41.8589008, 12.510753301890572],
                {}
            ).addTo(map_fbd144b6e7bc3f7770e00b7907aa1528);
        
    
            marker_2ae0f4f63386db6516272a54632e1eca.bindTooltip(
                `<div>
                     Catacombs
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_99888658ff6f3cd7b33e22b2052df8ba = L.marker(
                [41.914411099999995, 12.484843942580198],
                {}
            ).addTo(map_fbd144b6e7bc3f7770e00b7907aa1528);
        
    
            marker_99888658ff6f3cd7b33e22b2052df8ba.bindTooltip(
                `<div>
                     Villa Borghese
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ae8bd9c64fb6086a8ba45bc5d6cfa5ad = L.marker(
                [41.8893064, 12.4871093],
                {}
            ).addTo(map_fbd144b6e7bc3f7770e00b7907aa1528);
        
    
            marker_ae8bd9c64fb6086a8ba45bc5d6cfa5ad.bindTooltip(
                `<div>
                     Palatine Hill
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a071b29e0246bef4260dd10d1ac37866 = L.marker(
                [41.9009778, 12.483284842339874],
                {}
            ).addTo(map_fbd144b6e7bc3f7770e00b7907aa1528);
        
    
            marker_a071b29e0246bef4260dd10d1ac37866.bindTooltip(
                `<div>
                     Fontanna di Trevi
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_52671d10205b88a7643f5e98652ae93d = L.marker(
                [41.89162475, 12.48671195744897],
                {}
            ).addTo(map_fbd144b6e7bc3f7770e00b7907aa1528);
        
    
            marker_52671d10205b88a7643f5e98652ae93d.bindTooltip(
                `<div>
                     Roman Forum
                 </div>`,
                {"sticky": true}
            );
        
    
            map_fbd144b6e7bc3f7770e00b7907aa1528.fitBounds(
                [[41.8933203, 12.4829321], [41.89861595, 12.476833414483862], [41.8902614, 12.493087103595503], [41.8589008, 12.510753301890572], [41.914411099999995, 12.484843942580198], [41.8893064, 12.4871093], [41.9009778, 12.483284842339874], [41.89162475, 12.48671195744897]],
                {}
            );
        
</script>
</html>