<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_47889ad6b27e562eb8c91e1dd2f57663 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_47889ad6b27e562eb8c91e1dd2f57663" ></div>
        
</body>
<script>
    
    
            var map_47889ad6b27e562eb8c91e1dd2f57663 = L.map(
                "map_47889ad6b27e562eb8c91e1dd2f57663",
                {
                    center: [41.89162475, 12.48671195744897],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c25b5fcf326d9b65f4c1c0dc2ff09a6d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_47889ad6b27e562eb8c91e1dd2f57663);
        
    
            var marker_1ee46f124703db056c9125d16fe57830 = L.marker(
                [41.89162475, 12.48671195744897],
                {}
            ).addTo(map_47889ad6b27e562eb8c91e1dd2f57663);
        
    
            marker_1ee46f124703db056c9125d16fe57830.bindTooltip(
                `<div>
                     Roman Forum
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cb68cd2cff5b56ecc8decbf6a7722a82 = L.marker(
                [41.903411, 12.4528527],
                {}
            ).addTo(map_47889ad6b27e562eb8c91e1dd2f57663);
        
    
            marker_cb68cd2cff5b56ecc8decbf6a7722a82.bindTooltip(
                `<div>
                     Vatican City
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_925b057ea61b0963d3e2a9ed2d451bda = L.marker(
                [41.9009778, 12.483284842339874],
                {}
            ).addTo(map_47889ad6b27e562eb8c91e1dd2f57663);
        
    
            marker_925b057ea61b0963d3e2a9ed2d451bda.bindTooltip(
                `<div>
                     Trevi Fountain
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d786123a2b534e42112aa08d3e58e128 = L.marker(
                [41.8902614, 12.493087103595503],
                {}
            ).addTo(map_47889ad6b27e562eb8c91e1dd2f57663);
        
    
            marker_d786123a2b534e42112aa08d3e58e128.bindTooltip(
                `<div>
                     Colosseum
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3e47fce4ce4bbf20bd38879bff158158 = L.marker(
                [41.89861595, 12.476833414483862],
                {}
            ).addTo(map_47889ad6b27e562eb8c91e1dd2f57663);
        
    
            marker_3e47fce4ce4bbf20bd38879bff158158.bindTooltip(
                `<div>
                     Pantheon
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1471fa6d69f6e1a51bcf93aa23daa41b = L.marker(
                [41.914411099999995, 12.484843942580198],
                {}
            ).addTo(map_47889ad6b27e562eb8c91e1dd2f57663);
        
    
            marker_1471fa6d69f6e1a51bcf93aa23daa41b.bindTooltip(
                `<div>
                     Villa Borghese
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_285ed059495455f64a39f510ff40bb1d = L.marker(
                [41.8589008, 12.510753301890572],
                {}
            ).addTo(map_47889ad6b27e562eb8c91e1dd2f57663);
        
    
            marker_285ed059495455f64a39f510ff40bb1d.bindTooltip(
                `<div>
                     Catacombs
                 </div>`,
                {"sticky": true}
            );
        
    
            map_47889ad6b27e562eb8c91e1dd2f57663.fitBounds(
                [[41.89162475, 12.48671195744897], [41.903411, 12.4528527], [41.9009778, 12.483284842339874], [41.8902614, 12.493087103595503], [41.89861595, 12.476833414483862], [41.914411099999995, 12.484843942580198], [41.8589008, 12.510753301890572]],
                {}
            );
        
</script>
</html>