<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f273e1191a49c8222cc1fc3c80b90255 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_f273e1191a49c8222cc1fc3c80b90255" ></div>
        
</body>
<script>
    
    
            var map_f273e1191a49c8222cc1fc3c80b90255 = L.map(
                "map_f273e1191a49c8222cc1fc3c80b90255",
                {
                    center: [41.89762675, 12.498470031880899],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_65ad539098f5fc4dd41d92a9a5d008e8 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f273e1191a49c8222cc1fc3c80b90255);
        
    
            var marker_ab0019a89dbdc05b8473d482960da9e2 = L.marker(
                [41.89762675, 12.498470031880899],
                {}
            ).addTo(map_f273e1191a49c8222cc1fc3c80b90255);
        
    
            marker_ab0019a89dbdc05b8473d482960da9e2.bindTooltip(
                `<div>
                     Basilica di Santa Maria Maggiore
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_77d3e64af3b2c47c280ea6c058354738 = L.marker(
                [41.87882845, 12.492473652251636],
                {}
            ).addTo(map_f273e1191a49c8222cc1fc3c80b90255);
        
    
            marker_77d3e64af3b2c47c280ea6c058354738.bindTooltip(
                `<div>
                     Baths of Caracalla
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_88658c33e41ed24cb9316aa58e3dea47 = L.marker(
                [41.903117800000004, 12.466342676345292],
                {}
            ).addTo(map_f273e1191a49c8222cc1fc3c80b90255);
        
    
            marker_88658c33e41ed24cb9316aa58e3dea47.bindTooltip(
                `<div>
                     Castel Sant'Angelo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fc448bee16d2a0f1a81d0ec55d066852 = L.marker(
                [41.8589008, 12.510753301890572],
                {}
            ).addTo(map_f273e1191a49c8222cc1fc3c80b90255);
        
    
            marker_fc448bee16d2a0f1a81d0ec55d066852.bindTooltip(
                `<div>
                     Catacombs
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ce075fabf034fe4e0fbfa4fc84b65afb = L.marker(
                [41.8902614, 12.493087103595503],
                {}
            ).addTo(map_f273e1191a49c8222cc1fc3c80b90255);
        
    
            marker_ce075fabf034fe4e0fbfa4fc84b65afb.bindTooltip(
                `<div>
                     Colosseum
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a100b84fdfc303e5a56a0d4c97d7396a = L.marker(
                [41.8914082, 12.494673894795115],
                {}
            ).addTo(map_f273e1191a49c8222cc1fc3c80b90255);
        
    
            marker_a100b84fdfc303e5a56a0d4c97d7396a.bindTooltip(
                `<div>
                     Domus Aurea
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_02c5e260677d4ad2fbf8dcd9ec395323 = L.marker(
                [41.8961, 12.4841],
                {}
            ).addTo(map_f273e1191a49c8222cc1fc3c80b90255);
        
    
            marker_02c5e260677d4ad2fbf8dcd9ec395323.bindTooltip(
                `<div>
                     Domus Romane
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_af8fcde3ced8394c1c76d97c3830efad = L.marker(
                [41.9009778, 12.483284842339874],
                {}
            ).addTo(map_f273e1191a49c8222cc1fc3c80b90255);
        
    
            marker_af8fcde3ced8394c1c76d97c3830efad.bindTooltip(
                `<div>
                     Fontanna di Trevi
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f511781c6e14968034162884584b341f = L.marker(
                [41.8893064, 12.4871093],
                {}
            ).addTo(map_f273e1191a49c8222cc1fc3c80b90255);
        
    
            marker_f511781c6e14968034162884584b341f.bindTooltip(
                `<div>
                     Palatine Hill
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_55c44a0148380775199d0a47c08f72b9 = L.marker(
                [41.89861595, 12.476833414483862],
                {}
            ).addTo(map_f273e1191a49c8222cc1fc3c80b90255);
        
    
            marker_55c44a0148380775199d0a47c08f72b9.bindTooltip(
                `<div>
                     Pantheon
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_003c02e8984f2b06ce85908a7aa22163 = L.marker(
                [41.8989155, 12.473118536497108],
                {}
            ).addTo(map_f273e1191a49c8222cc1fc3c80b90255);
        
    
            marker_003c02e8984f2b06ce85908a7aa22163.bindTooltip(
                `<div>
                     Piazza Navona
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ce5beb77cceb6d6e118e447a789bb755 = L.marker(
                [41.910750199999995, 12.47682475832423],
                {}
            ).addTo(map_f273e1191a49c8222cc1fc3c80b90255);
        
    
            marker_ce5beb77cceb6d6e118e447a789bb755.bindTooltip(
                `<div>
                     Piazza del Popolo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fff8ce4f79ac56e00c973ccb2f17fa75 = L.marker(
                [41.9056375, 12.482346487653565],
                {}
            ).addTo(map_f273e1191a49c8222cc1fc3c80b90255);
        
    
            marker_fff8ce4f79ac56e00c973ccb2f17fa75.bindTooltip(
                `<div>
                     Piazza di Spagna
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b1d081d5cd9f5aa0e03e6580022bbf3d = L.marker(
                [41.89162475, 12.48671195744897],
                {}
            ).addTo(map_f273e1191a49c8222cc1fc3c80b90255);
        
    
            marker_b1d081d5cd9f5aa0e03e6580022bbf3d.bindTooltip(
                `<div>
                     Roman Forum
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_897e6dfd45c8816a790db2cf8561c092 = L.marker(
                [41.89385095, 12.493157743210707],
                {}
            ).addTo(map_f273e1191a49c8222cc1fc3c80b90255);
        
    
            marker_897e6dfd45c8816a790db2cf8561c092.bindTooltip(
                `<div>
                     Saint Peter's Basilica
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a68a73c07bf1861061de4fd077e3433a = L.marker(
                [41.8911586, 12.466845904466918],
                {}
            ).addTo(map_f273e1191a49c8222cc1fc3c80b90255);
        
    
            marker_a68a73c07bf1861061de4fd077e3433a.bindTooltip(
                `<div>
                     Trastevere
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5b7a7a529b8a9e22de349f119aa17e71 = L.marker(
                [41.8933203, 12.4829321],
                {}
            ).addTo(map_f273e1191a49c8222cc1fc3c80b90255);
        
    
            marker_5b7a7a529b8a9e22de349f119aa17e71.bindTooltip(
                `<div>
                     Vatican City
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b4942e355044106b3a07f68291994256 = L.marker(
                [41.914411099999995, 12.484843942580198],
                {}
            ).addTo(map_f273e1191a49c8222cc1fc3c80b90255);
        
    
            marker_b4942e355044106b3a07f68291994256.bindTooltip(
                `<div>
                     Villa Borghese
                 </div>`,
                {"sticky": true}
            );
        
    
            map_f273e1191a49c8222cc1fc3c80b90255.fitBounds(
                [[41.89762675, 12.498470031880899], [41.87882845, 12.492473652251636], [41.903117800000004, 12.466342676345292], [41.8589008, 12.510753301890572], [41.8902614, 12.493087103595503], [41.8914082, 12.494673894795115], [41.8961, 12.4841], [41.9009778, 12.483284842339874], [41.8893064, 12.4871093], [41.89861595, 12.476833414483862], [41.8989155, 12.473118536497108], [41.910750199999995, 12.47682475832423], [41.9056375, 12.482346487653565], [41.89162475, 12.48671195744897], [41.89385095, 12.493157743210707], [41.8911586, 12.466845904466918], [41.8933203, 12.4829321], [41.914411099999995, 12.484843942580198]],
                {}
            );
        
</script>
</html>